/*-----------------------------------------------------------
	Template Name: Bug somadhan
	Description: This is html5 responsive template
	Author: themescart
	Version: 1.0

*-----------------------------------------------------------*
	CSS INDEX
	====================
	01) Common Style Css (body, link color, section etc)
-----------------------------------------------------------*/


/*==================== (01). Start Common Style Css ====================*/

/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');*/

*,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 30px;
    font-family: proxima-nova;
    background: #f0f1f6;
}

ul,
ol {
    list-style: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

input:focus,
a:hover,
a:focus,
a:active,
button:focus,
select:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
/*--------- Start fontface ---------*/
@font-face {
  font-family: 'Flaticon';
  src: url(iconfont/Flaticon.ttf);
}


/*==================== (01). End Common Style Css ====================*/


/*==================== (02). Start sidebar ====================*/

.qz-sidebar{
    width: 260px;
    background: #fff;
    height: 100vh;
    position: fixed !important;
    left: 0;
    top: 0;
}
.qz-logo{
    display: block;
    text-align: center;
    background: url(images/logo-bg.png) no-repeat center center;
    height: 133px;
    line-height: 110px;
}

/* Start menu */
ul#metismenu {
    margin-top: 50px;
}
ul#metismenu li a,
ul#metismenu li.qz-active a{
    padding: 15px 15px 15px 23px;
    color: #5d5d5f;
    font-size: 16px;    
    display: block;
    font-weight: 500;
}
ul#metismenu li > a:hover,
ul#metismenu li.qz-active a{
    background: #f0f1f6;
    position: relative;
}
/*ul#metismenu li:hover > a::after,*/
ul#metismenu li.qz-active a::after {
    position: absolute;
    content: '';
    background: linear-gradient(#3276f1, #26b9e5);
    height: 100%;
    width: 5px;
    left: 0;
    top: 0;
}

ul#metismenu li span:before {
    font-size: 22px;
    margin-right: 10px;
    color: #3865f6;
}

/*==================== (02). End sidebar ====================*/

/*==================== (03). Start main content ====================*/

/* Start main content */
.qz-wrapper {
    padding-bottom: 100px;
}
.qz-main-content{
    margin-left: 260px;
}
.qz-wrapper .card{
    border: none;
}


/* Start top bar */
.qz-topbar {
    background: linear-gradient(to bottom, #366af4, #2D95EC);
    padding: 34px 0 23px 75px;
}

.qz-search-from{
    position: relative;
}
.qz-search-from .form-control{
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    background: transparent;
    box-shadow: none;
    border: none;
    padding-left: 50px;
    color: #fff;
    border-right: 1px solid #fff;
    border-radius: 0;
    height: 50px;
    font-size: 18px;
}
.qz-search-from .form-control::-webkit-input-placeholder {
  color: #fff;
}
.qz-search-from .form-control::-moz-placeholder {
  color: #fff;
}
.qz-search-from .form-control:-ms-input-placeholder {
  color: #fff;
}
.qz-search-from .form-control:-moz-placeholder { 
}
.qz-search-btn {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
}
.qz-search-btn:hover,
.qz-search-btn:focus,
.qz-search-btn:active{
    background-color: transparent !important;
    box-shadow: none !important;
}
.qz-user-profile-btn {
    border: none;
    padding: 0;
    font-size: 18px;
}
.qz-user-profile-btn,
.qz-user-profile-btn:hover,
.qz-user-profile-btn:focus,
.qz-user-profile-btn:active{
    background: transparent !important;
    box-shadow: none !important;
}

.qz-user-profile-btn.dropdown-toggle::after{
    display: none;
}
.qz-user-profile-btn .flaticon-angle-arrow-down::before{
    font-size: 16px;
    margin-left: 10px;
}
.qz-user-avater img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: -10px;
}

/* Start page title */
.qz-page-title{
    color: #424357;
    padding: 30px 85px;
}

/* Start content area */
.qz-content-area{
    padding: 0 100px;
}

/* Start status bar */
.qz-status-bar{
    border-radius: 5px;
    padding: 50px 30px;
    color: #fff;
    margin-bottom: 50px;
}
.qz-status-bar1{
    background: url(images/Bg5.png)no-repeat center center / cover;
}
.qz-status-bar2{
    background: url(images/Bg.png)no-repeat center center / cover;
}
.qz-status-bar3{
    background: url(images/Bg2.png)no-repeat center center / cover;
}
.qz-blance{
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
}
.qz-total-qustions {
    font-size: 26px;
    font-weight: 500;
}

.dropdown-menu.show {
    top: 20px !important;
}

/* start sec title */
.qz-sec-title h5{
    margin-bottom: 15px;
    font-weight: 600;
}

table.table.category-table {
    border: 1px solid #ecf1ff;
}
table.table.category-table thead{
    background: #d9e2ff;
    border: 1px solid #d9e2ff;
    border-radius: 5px;
}
table.table.category-table thead th{
    border-bottom: none;
    font-size: 14px;
    color: #595d69;
}
table.table.category-table tbody td{
    font-size: 15px;
    padding: 25px 15px;
    border-color: #ecf1ff;
}

.table-responsive.category-table{
    border-radius: 5px;
}
table.table.category-table tbody td span{
    font-weight: 700;
}
.qz-table-footer{
    background: #F6F6FE;
}
.qz-table-footer a {
    border-bottom: 1px solid #4f66b2;
    padding-top: 8px;
    display: initial;
    font-size: 16px;
}

/*Start laderboard area*/
.qz-laderboard-title{
    background: #3865f6;
    padding: 30px;
    text-align: center;
    color: #fff;
    border-radius: 8px 8px 0 0;
}
.qz-laderboard-title h4 {
    font-size: 20px;
}

.qz-laderboard-area thead{
    background: #e1e1f9;
}
.qz-laderboard-area thead th{
    border-bottom: none;
    font-size: 15px;
    color: #595d69;
}
.qz-laderboard-area table th,
.qz-laderboard-area table td{
    padding: 23px 15px;
}
table td .people img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.qz-laderboard-area table td{
    vertical-align: middle;
}
.qz-laderboard-area table td .people{
    font-size: 15px;
    text-transform: capitalize;
    
}
.qz-laderboard-area table td{
    font-size: 16px;
    font-weight: 600;
    border: none;
}
.qz-laderboard-footer{
    background: #f0f1f6;
    padding: 25px;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: -16px;
    border-radius: 0 0 5px 5px;
}
.qz-laderboard-footer a{
    font-size: 16px;
    border-bottom: 1px solid #4f66b2;
    font-weight: 400;
}
.qz-laderboard-area .table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}
.qz-laderboard-area .table-striped tbody tr:nth-of-type(even) {
    background-color: #F6F6FE;
}


.category-table td ul li{
    margin-right: 15px;
}
.category-table td ul li:last-child{
    margin-right: 0;
}
.category-table td ul li span:before{
    font-size: 24px;
}
.category-table td ul li.qz-admin span:before{
    color: #af98fc;
}
.category-table td ul li.qz-deactive span:before{
    color: #fca223;
}
.category-table td ul li.qz-edit span:before{
    color: #07fce1;
}
.category-table td ul li.qz-details span:before{
    color: #007bff;
}
.category-table td ul li.qz-check span:before{
    color: #27C24C;
}
.category-table td ul li.qz-close span:before{
    color: #F05050;
}

.page-item:first-child .page-link{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.page-item:last-child .page-link {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.page-link {
    position: relative;
    display: block;
    padding: 0;
    margin-left: 5px;
    color: #007bff;
    background-color: #fff;
    border: none;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    font-weight: 700;
}


/* Start add category */

.add-category{
    padding: 50px 0;
}

.add-category form .form-control{
    border: none;
    background: #F0F1F6;
    box-shadow: none;
    border-radius: 6px;
}
.add-category form select,
.add-category form input{
    height: 65px !important;
}
.add-category form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.add-category form label{
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    color: #858585;
}

.add-category-btn{
    border-radius: 50px;
    height: 60px;
    padding: 0;
    line-height: 65px;
    font-size: 20px;
    font-weight: 700;
    outline: none;
}
.add-category-btn:hover,
.add-category-btn:focus,
.add-category-btn:active{
    box-shadow: none !important;
}

.qz-question-category{
    position: relative;
}
.qz-question-category::after{
    position: absolute;
    content: "\f106";
    font-family: Flaticon;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #868485;
    font-size: 22px;
}

.dataTables_filter input{
    border: 1px solid #ccc;
    padding-left: 5px;
}
a.paginate_button {
    height: 40px;
    line-height: 40px;
    padding: 0 15px !important;
    font-weight: 700;
}

table.table.category-table tbody td {
    vertical-align: middle;
}


/* Start profile image */

.qz-profile-card{
    background: #3865F6;
    color: #fff;
    padding: 80px 0 50px;
}

.qz-profile-user-avater img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
.qz-profile-user-avater {
    position: relative;
    z-index: 1;
    height: 120px;
    width: 120px;
    margin: auto;
}
.qz-profile-user-avater::after{
    position: absolute;
    content: '';
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background: #4972F7;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.qz-profile-user-avater::before{
    position: absolute;
    content: '';
    width: 165px;
    height: 165px;
    border-radius: 50%;
    background: #406BF6;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.qz-edit-icon{
    position: absolute;
    top:30px;
    right: 50px;
}

.qz-user-info{
    margin-top: 50px;
}

.qz-user-status-card{
    text-align: center;
    color: #fff;
    padding: 30px 15px;
    margin-top: 30px;
    border-radius: 5px;
    height: 140px;
}
.qz-user-status-card h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}
.qz-user-status-card h6 {
    font-size: 16px;
}
.qz-user-status-card-bg1{
    background: #FFCA00;
}
.qz-user-status-card-bg2{
    background: #6189F4;
}
.qz-user-status-card-bg3{
    background: #FF6766;
}

.qz-user-profile-from .form-control{
    height: 65px;
    border-radius: 50px;
    box-shadow: none;
    padding-left: 15px;
    border-color: #e8e8e8;
}
.qz-user-profile-from label {
    margin-left: 30px;
    font-weight: 700;
    font-size: 16px;
    color: #8f8f8f;
}
.qz-profile-area{
    padding: 50px 0;
}

/*==================== (03). End main content ====================*/


/*==================== (04). Start user area ====================*/

.user-body{
    background: #3865F6;
    /*height: 100%;*/
    /*display: flex;*/
    /*align-items: center;*/
}
.user-body .card{
    background: #fff url(images/bg-transparent-img.png) no-repeat center center / cover;
    border: none;
    border-radius: 0;
    padding: 70px 0;
}
.user-body .card h1{
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 30px;
}
.user-body .card h5{
    color: #838383;
}

.user-body input.form-control{
    height: 60px;
    border-radius: 50px;
    padding-left: 50px;
    box-shadow: none;
    outline: none;
    border-color: #B0B7D1;
}

.user-body .form-group{
    position: relative;    
}
.qz-input-icon{
    position: absolute;
    left: 20px;
    top: 52%;
    transform: translateY(-50%);
}
.user-body button{
    width: 100%;
    height: 60px;
    border-radius: 50px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
}
.user-body button:focus,
.user-body button:active{
    box-shadow: none !important;
}
.user-body form{
    margin: 50px 0;
}

form input[type="file"]{
    height: 35px !important;
}

.user-body input.form-control::-webkit-input-placeholder {
  color: #3865F6;
}
.user-body input.form-control::-moz-placeholder {
  color: #3865F6;
}
.user-body input.form-control:-ms-input-placeholder {
  color: #3865F6;
}
.user-body input.form-control:-moz-placeholder {
  color: #3865F6;
}
.qz-input-icon span:before{
    color: #3865F6;
}

.qz-user-footer h4{
    font-weight: 600;
    font-size: 16px;
    color: #747575;
    margin-bottom: 10px;
}
.qz-user-footer p{
    font-size: 20px;
}
.qz-user-footer p a{
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    color: #fff;
    font-size: 14px;
}
.qz-user-footer p a.qz-fb{
    background: #3b5999;
}
.qz-user-footer p a.qz-ing{
    background: #8D5CC2;
}
.qz-user-footer p a.qz-gp{
    background: #dd4b39;
}
/*==================== (04). End user area ====================*/


/*==================== (05). Start Data table ====================*/
table.dataTable{
    width: 100% !important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, 
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}
/*==================== (05). End Data table ====================*/
/*.qz-topbar {*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*z-index: 999;*/
/*}*/

button.btn.btn-primary.btn-block.add-category-btn.mt-4 {
    margin-top: 40px!important;
}
.user-details-info li{
    padding: 5px 10px;
    border:1px solid #e5e5e5;
    margin-top: -1px;
    font-size: 16px;
}
.user-details-info li div.col-md-4{
    font-weight: 600;
}

.card .alert button.close {
    width: inherit !important;
    height: 30px !important;
    line-height: 30px !important;
}

.card > .card{
    padding-bottom: 0;
}

.card .alert{
    margin-bottom: 0;
    margin-top: 5rem;
}
.userlist-image img{
    margin-right: 10px;
}

button#add {
    position: absolute;
    top: 55px;
    right: 0;
}
.qz-src-result li {
    margin-bottom: 5px;
    border-bottom: 1px solid #f5f5f5;
    padding: 10px;
    text-transform: capitalize;
}
.qz-src-result li:last-child{
    margin-bottom: 0;
}
.qz-src-result li a{
    color: #5d5d5f;
}
.for-email {
    height: 65px !important;
    line-height: 50px;
}

.prize-btn,
.prize-btn:hover
{
    background-color: #ffc000;
    border:none;
    margin-bottom: 90px;
}

.prize-block
{
    text-align: center;
    width: 50px;
    border: 2px solid #000;
    margin-left: 20px;
    margin-top: 10px;
}


.main-block
{
    margin: 60px 50px 0 100px;
}

.prize-input
{
    margin-top: 40px;
}

.prize-input .form-group
{
    width: 120px;
    height: 30px;
}

.prize-input .form-group input[type=text]
{
    height: 35px !important;
}